.res-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  width: max-content;
}

.res-card-image {
  width: 222px;
}

.res-card-content {
  display: flex;
  background-color: #fc8a06;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1.25rem;
}

.res-card-title {
  font-weight: bold;
  color: #03081f;
  font-size: 1.125rem;
}
