.popular-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem auto 0;
}

.popular-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 0.75rem;
}

.popular-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.25rem 0;
}
